@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
@import url(//fonts.googleapis.com/css?family=Kaushan+Script);
.container{width: 99%;padding-right: 0px;padding-left: 0px;}
body{font-size:12px; font-family: 'Source Sans Pro', sans-serif;}

/* Inicio Navbar 1*/
.navbar {min-height: 24px;}
.navbar-inverse .navbar-nav>li>a{color:#FFFFFF; font-weight: 600}
.navbar-inverse .navbar-nav>li>a>i{padding-right: 10px;}
#li-cerrar-sesion{}
#li-usuario-logueado{font-weight: 600}
.navbar-fixed-top {height: 14px;}
@media (min-width: 768px){ .navbar-nav>li>a{padding-bottom: 2px; padding-top: 2px; }}
/* Fin Navbar 1*/
/* Inicio Navbar 2*/
#navbar-2{max-height: 50px; background: #666; margin-top: 24px;}
#nombre-app{ color:#FFFFFF; font-size: xx-large; font-weight: 100;padding-left: 0px;}
#navbar-2 > .col-md-9{    padding-right: 0px;padding-top: 18px;}
#navbar-2 > .col-md-9 > .pull-right > li{    padding-top: 3px;padding-bottom: 4px;padding-right: 15px;padding-left: 16px;}
#navbar-2 > .col-md-9 > .pull-right > li > a {color: #FFFFFF;font-size: 16px;}
#navbar-2 > .col-md-9 > .pull-right > .activo {background: #FFFFFF; border-top:solid 3px #337ab7;}
#navbar-2 > .col-md-9 > .pull-right > .activo >a {color: #343434; }
/* Fin Navbar 2*/